<!DOCTYPE html>
<html>
  <head>
    <title>Bem vindo a SP veg-list</title>
    <meta name="description" content="Lista de Restaurantes Veganos (ou vegetariano com opções) em SP">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <header>
      <h1>
        Lista de Restaurantes Veganos (ou vegetariano com opções) em SP
      </h1>
    </header>

    <main>
      <p class="bold">Olá!! :),</p>
      <p>Adicione um restaurante Vegano (ou vegetariano com opções)</p>
      <form>
        <input type="text" maxlength="100" placeholder="Restaurante ABC!">
        <button type="submit">Submit</button>
      </form>
      <section class="restaurants">
        <ul id="restaurants">
        </ul>
      </section>
    </main>

    <footer>
      <a href="https://ezefranca.com">
        🌱✔️
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>